<!-- Content -->
<div class="content">
    <!-- Title -->
    <div>
        <h3 class="" uk-text-lead>My To-do List</h3>
    </div>
    <!-- Input: Add Task -->
    <div class="add-task-section">
        <input class="uk-input" placeholder="Add a Task" [(ngModel)]="description">
        <span uk-icon="check" class="uk-icon-button uk-button-primary" (click)="createTask()"></span>
    </div>
    <!-- List -->
    <div class="task-list-section">
        <!-- Cards -->
        <div class="uk-card uk-card-body uk-card-default card-task" *ngFor="let task of (tasks | async)">
            <!-- Card Description -->
            <div class="card-task-description">
                <input class="uk-checkbox" type="checkbox" [(ngModel)]="task.completed" (change)="updateTask(task)">
                <p class="description">{{ task.description }} | {{ task.createdAt | date: 'EEEE, HH:mm' }} </p>
            </div>
            <!-- Card Actions -->
            <div class="task-actions">
                <span uk-icon="trash" class="uk-icon-button uk-button-danger" (click)="deleteTask(task)"></span>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->